*{
    color:#dbdee1;
    font-size:1em;
}

select,input,p,button,space{
    font-family:Calibri;
    width:40pt;
    text-align:center;
    border:none;
    background-color:#222;
    border-radius:5px;
    margin:0;
    padding:4px
}

.ts{
    background-color:#3d3f46;
    border-radius:5px;
    padding-left:2px;
    padding-right:2px
}


button:hover{background-color:#444}
#out,#event {width:100%;padding:4px 0}
img:active  {animation:.2s linear copyanim forwards}
img:hover   {filter:drop-shadow(0 0 3px #fff)}
button      {width:100%}
space       {background-color:#0000}
html        {background-color:#313338}
span        {font-family:gg}
td          {width:40pt}
p           {background-color:#444}


input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield;appearance:textfield}


@keyframes copyanim {
    from{filter:drop-shadow(0 0 3px #0f0)}
    to{filter:drop-shadow(0 0 7px #0f0)}
}

 @font-face {
     font-family: 'gg';
     font-style: normal;
     font-weight: normal;
     src: url('ggm.woff') format('woff');
}
