*{background-color:#333;color:#ddd;font-size:1em;font-family:Calibri;}
td{table-layout:fixed;width:40pt}
select,input,p,button,space{width:40pt;text-align:center;border:none;background-color:#222;border-radius:5px;margin:0;padding:4px}
button:hover{background-color:#444}
button{width:100%}
p{background-color:#444}
space{background-color:#333}
#out,#event{width:100%;padding-right:0;padding-left:0;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield}